body{
    overflow: hidden;
    background-color: #000;
}
div{
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background-color: red;
    transition: 0.5s;
    border-radius: 100%;
}
